<div id="cart">
	<h2>Cart</h2>
	<ul class="cart-items">
		<% @orders.each do |order| %>
			<li><%= order.number.to_s + " x " +order.product.name%> 
			<div class='p-price'> <%= "$ "+(order.number*order.product.price).to_s %></div>
			<% @total =@total + (order.number*order.product.price) %>
			<%= button_to "delete",  order_path(order), :method => :delete %>
			</li>
		<% end %>
	</ul>
	<h2><%= "Total: $" + " " +@total.to_s %></h2>
	<div class="list-form">
		<% if @total > 0 %>
			<%= button_to "Order!",  orderlists_path  %>
		<%end%>
	</div>
</div>
	



