<div class="form">
<%= form_for(@product) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %> 
	<%= f.label :image %>
	<%= f.text_field :image %> 
	<div id='form-img'> <%= image_tag @product.image %> </div>
	<%= f.label :amount%>
	<%= f.number_field :amount, min: 0 %>
	<%= f.label :price%>
	<%= f.number_field :price, min: 0 %>

	<%= f.submit "Update" %> 
<% end %>
</div>