<!DOCTYPE html>
<html>
<head>
  <title>MyFirstWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="pull-right">
	<% if current_user %>
		<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= current_user.first_name + "_" + current_user.last_name %></li>
		<li><%= link_to "Cart", cart_path %> 
		<li><% if current_user.is_supervisor?  %>
			<%= link_to "Management" , management_path %>
			<% end %>
		</li>
		<li><%= link_to "Log out", logout_path, method: "delete" %> </li>

		</ul>
	<% else %>
		<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Login",  login_path %></li>
		<li><%= link_to "Signup", signup_path %></li>
		</ul>

	<% end %>
</div>

<%= yield %>

</body>
</html>
