<div class="management-menu">
	<ul>
		<li><%= link_to "Members", m_members_path  %></li>
		<li><%= link_to "Products", m_products_path  %></li>
		<li><%= link_to "OrderLists", m_orderlists_path  %></li>
	</ul>
</div>

<table class="table-bordered" >
	<thead>
		<tr>
			<th>#</th>
			<th>Subcriber</th>
			<th>Order time</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @orderlists.each do |orderlist| %>
		<tr>
			<td><%= link_to orderlist.id, orderlist_path(orderlist), {:class => "orderlist-link"} %></td>
			<td><%= orderlist.user.first_name+"_"+orderlist.user.last_name %> </td>
			<td><%= orderlist.order_time %> </td>
			<td><%= "edit" %> </td>
		</tr>
		<% end %>
	</tbody>
</table>