<div class="management-menu">
	<ul>
		<li><%= link_to "Members", m_members_path  %></li>
		<li><%= link_to "Products", m_products_path  %></li>
		<li><%= link_to "OrderLists", m_orderlists_path  %></li>
	</ul>
</div>

<table class="table-bordered" >
	<thead>
		<tr>
			<th>#</th>
			<th>Product</th>
			<th>Price</th>
			<th>Amount</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= product.name %> </td>
			<td><%= product.price %> </td>
			<td><%= product.amount %> </td>
			<td><%=link_to "edit", edit_product_path(product) %> </td>
			<td><%=link_to "delete", product_path(product) , method: "delete"%> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class='create-product'>
	<%= link_to "Make New Product" , new_product_path %>
</div>