<div class="management-menu">
	<ul>
		<li><%= link_to "Members", m_members_path  %></li>
		<li><%= link_to "Products", m_products_path  %></li>
		<li><%= link_to "OrderLists", m_orderlists_path  %></li>
	</ul>
</div>

<table class="table-bordered" >
	<thead>
		<tr>
			<th>#</th>
			<th>Product</th>
			<th>Amount</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= product.name %> </td>
			<td><%= product.amount %> </td>
			<td><%= "edit" %> </td>
		</tr>
		<% end %>
	</tbody>
</table>